.assorti{
    &__img{
        width: 140px;
        display: block;
        margin: 0 auto;
    }
    &__shoplink{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #c70101;
        display: block;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.nav-tabs{
    margin-top: 69px;
    border: none;
}

.nav-tabs .nav-item{
    width: 220px;
    height: 50px;
    margin-right: 20px;

    transform: skew(-20deg);
    a{
        transform: skew(20deg);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #6b6b6b;
        text-transform: uppercase;
    }
}
.nav-link{
    padding-top: 11px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-item{
    border: 1px solid #dee2e6;  
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
    background-color: transparent;
}

.act{
    a{
        color: #fff !important;
    }
    background-color: $main-color;
}

.card-deck{
    margin-top: 59px;
}

.card-deck .card{
    margin: 0 10px;
}